<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.leeso0.study.mapper.MainMapper">
	
	<!-- 회원가입 - member insert -->
	<insert id="insertMember">
		INSERT INTO member
		VALUES (
				(SELECT IFNULL(MAX(CAST(m.member_idx as unsigned)), 0) + 1 
				   FROM member m)
				,#{member_id}
				,#{member_pass}
				,#{member_name}
				,#{member_gender}
				,#{member_birth}
				,#{member_email}
				,#{member_space}
				,'Y'
				,DATE_FORMAT(now(), "%Y%m%d%H%i%s")
				,''
				,'N'
				,'N'
			   )
	</insert>

	<!-- 회원가입 - study_type insert -->
	<insert id="insertStudyType">
		INSERT INTO mem_study_type
		VALUES (
				#{member.member_id}
				,#{studyType.study_type1}
				,#{studyType.study_type2}
				,#{studyType.study_type3}
			   )
	</insert>
	
	<!-- 로그인 -->
	<select id="selectMember" resultType="com.leeso0.study.vo.MemberVO">
		SELECT *
		  FROM member
		 WHERE member_id = #{member_id}
		   AND member_pass = #{member_pass}
	</select>
	
	<!-- 조회수 높은순 5개 study 조회 -->
	<select id="selectBestStudyList" resultType="java.util.HashMap">
		SELECT study_idx,
			   study_subject,
			   study_type,
			   study_time,
			   study_num_of_people,
			   study_contact_type,
			   study_space,
			   study_date,
			   study_readcount,
			   study_status
		  FROM study
		 ORDER BY study_readcount DESC
		 LIMIT 0,5
	</select>
	
	<!-- 로그인 했을 때 추천 study 5개 조회 -->
	<select id="selectRecommendStudyList" resultType="java.util.HashMap">
		SELECT s.study_idx,
			   s.study_subject,
			   s.study_type,
			   s.study_time,
			   s.study_num_of_people,
			   s.study_contact_type,
			   s.study_space,
			   s.study_date,
			   s.study_readcount,
			   s.study_status
		  FROM study s, mem_study_type mst
		 WHERE study_type IN (mst.study_type1, mst.study_type2, mst.study_type3)
		   AND mst.member_id = #{member_id}
		 LIMIT 0,5
	</select>
</mapper>