<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.leeso0.study.mapper.StudyMapper">

	<!-- study 생성 -->
	<insert id="insertStudy">
		INSERT INTO study
		VALUES (
				(SELECT IFNULL(MAX(CAST(s.study_idx as unsigned)), 0) + 1 
				   FROM study s)
				,(SELECT member_idx
				    FROM member
				   WHERE member_id = #{member_id})
				,#{study.study_subject}
				,#{study.study_content}
				,#{study.study_type}
				,#{study.study_time}
				,#{study.study_num_of_people}
				,#{study.study_contact_type}
				,#{study.study_space}
				,DATE_FORMAT(now(), "%Y%m%d%H%i%s")
				,'0'
				,'Y'
			   )
	</insert>
	
	<!-- studyList listCount 값 구하기 -->
	<select id="selectStudyListCount" resultType="int">
		SELECT COUNT(study_idx)
		  FROM study
		 WHERE 1=1
		   <if test="study.study_type != null">
		  	 AND study_type = #{study.study_type}
		   </if>
		   <if test="study.study_time != null">
		  	 AND study_time = #{study.study_time}
		   </if>
		   <if test="study.study_num_of_people != ''">
		     AND study_num_of_people = #{study.study_num_of_people}
		   </if>
		   <if test="study.study_contact_type != null">
		 	 AND study_contact_type = #{study.study_contact_type}
		   </if>
		   <if test="study.study_space != null">
			 AND study_space = #{study.study_space}
		   </if>
	</select>
	
	<!-- studyList 조회 -->
	<select id="selectStudyList" resultType="java.util.HashMap">
		SELECT study_idx,
			   study_subject,
			   study_type,
			   study_time,
			   study_num_of_people,
			   study_contact_type,
			   study_space,
			   study_date,
			   study_readcount,
			   study_status
		  FROM study
		 WHERE 1=1
		   <if test="study.study_type != null">
		  	 AND study_type = #{study.study_type}
		   </if>
		   <if test="study.study_time != null">
		  	 AND study_time = #{study.study_time}
		   </if>
		   <if test="study.study_num_of_people != '' and study.study_num_of_people != null">
		     AND study_num_of_people = #{study.study_num_of_people}
		   </if>
		   <if test="study.study_contact_type != null">
		 	 AND study_contact_type = #{study.study_contact_type}
		   </if>
		   <if test="study.study_space != null">
			 AND study_space = #{study.study_space}
		   </if>
		  LIMIT #{pageInfo.startRow}, #{pageInfo.listLimit}
	</select>
	
	<!-- studyList listCount 조회 (정렬, 필터) -->
	<select id="selectFilteredStudyListCount" resultType="int">
		SELECT COUNT(study_idx)
		  FROM study
		 WHERE 1=1
		   <if test="study.study_type != null and study.study_type != ''">
		  	 AND study_type = #{study.study_type}
		   </if>
		   <if test="study.study_time != null and study.study_time != ''">
		  	 AND study_time = #{study.study_time}
		   </if>
		   <if test="study.study_num_of_people != '' and study.study_num_of_people != null">
		     AND study_num_of_people = #{study.study_num_of_people}
		   </if>
		   <if test="study.study_contact_type != null and study.study_contact_type != ''">
		 	 AND study_contact_type = #{study.study_contact_type}
		   </if>
		   <if test="study.study_space != null and study.study_space != ''">
			 AND study_space = #{study.study_space}
		   </if>
		   <choose>
			   <when test="search_filter1 == 'search_ing'">
			     AND study_status = 'Y'
			   </when>
			   <when test="search_filter1 == 'search_done'">
			     AND study_status = 'N'
			   </when>
		   </choose>
		   <choose>
				<when test="search_filter2 == 'search_subject'">
					<if test="search_keyword != null">
						AND study_subject LIKE #{search_keyword}
					</if>
				</when>
				<when test="search_filter2 == 'search_content'">
					<if test="search_keyword != null">
						AND study_content LIKE #{search_keyword}
					</if>
		   		</when>
		   </choose>
	</select>
	
	<!-- studyList 조회 (정렬, 필터) -->
	<select id="selectFilteredStudyList" resultType="java.util.HashMap">
		SELECT study_idx,
			   study_subject,
			   study_type,
			   study_time,
			   study_num_of_people,
			   study_contact_type,
			   study_space,
			   study_date,
			   study_readcount
			   study_status
		  FROM study
		 WHERE 1=1
		   <if test="study.study_type != null and study.study_type != ''">
		  	 AND study_type = #{study.study_type}
		   </if>
		   <if test="study.study_time != null and study.study_time != ''">
		  	 AND study_time = #{study.study_time}
		   </if>
		   <if test="study.study_num_of_people != '' and study.study_num_of_people != null">
		     AND study_num_of_people = #{study.study_num_of_people}
		   </if>
		   <if test="study.study_contact_type != null and study.study_contact_type != ''">
		 	 AND study_contact_type = #{study.study_contact_type}
		   </if>
		   <if test="study.study_space != null and study.study_space != ''">
			 AND study_space = #{study.study_space}
		   </if>
		   <choose>
			   <when test="search_filter1 == 'search_ing'">
			     AND study_status = 'Y'
			   </when>
			   <when test="search_filter1 == 'search_done'">
			     AND study_status = 'N'
			   </when>
		   </choose>
		   <choose>
				<when test="search_filter2 == 'search_subject'">
					<if test="search_keyword != null">
						AND study_subject LIKE #{search_keyword}
					</if>
				</when>
				<when test="search_filter2 == 'search_content'">
					<if test="search_keyword != null">
						AND study_content LIKE #{search_keyword}
					</if>
		   		</when>
		   </choose>
		  LIMIT #{pageInfo.startRow}, #{pageInfo.listLimit}
	</select>
	
	<!-- 조회수 증가 작업 -->
	<update id="updateReadcount">
		UPDATE study
		   SET study_readcount = study_readcount + 1
		 WHERE study_idx = #{study_idx}
	</update>
	
	<!-- study view 조회 -->
	<select id="selectStudyView" resultType="java.util.HashMap">
		SELECT s.study_type,
			   s.study_time,
			   s.study_num_of_people,
			   s.study_contact_type,
			   s.study_space,
			   m.member_name,
			   m.member_id,
			   s.study_subject,
			   s.study_content,
			   s.study_date,
			   s.study_readcount,
			   s.study_status
		  FROM study s, member m
		 WHERE s.study_idx = #{study_idx}
		   AND s.member_idx = m.member_idx
	</select>
	
	<!-- study 신청 여부 조회 -->
	<select id="selectStudyMember" resultType="com.leeso0.study.vo.StudyMemberVO">
		SELECT sm.study_mem_idx
		  FROM study_member sm, member m
		 WHERE sm.study_idx = #{study_idx}
		   AND sm.member_idx = m.member_idx
		   AND m.member_id = #{member_id}
	</select>
	
	<!-- study register -->
	<insert id="insertStudyMember">
		INSERT INTO study_member
		VALUES (
				(SELECT IFNULL(MAX(CAST(sm.study_mem_idx as unsigned)), 0) + 1 
				   FROM study_member sm)
			   ,#{study_idx}
			   ,(SELECT member_idx
			       FROM member
			      WHERE member_id = #{member_id})
			   )
	</insert>
	
	<!-- study modify -->
	<update id="updateStudy">
		UPDATE study
		   SET study_type = #{study.study_type}
			   ,study_time = #{study.study_time}
			   ,study_num_of_people = #{study.study_num_of_people}
			   ,study_contact_type = #{study.study_contact_type}
			   ,study_space = #{study.study_space}
			   ,study_subject = #{study.study_subject}
			   ,study_content = #{study.study_content}
		 WHERE study_idx = #{study.study_idx}
		   AND member_idx = (SELECT member_idx
		   					   FROM member
		   					  WHERE member_id = #{member_id})  
	</update>
</mapper>