@charset "EUC-KR";
/* --- header --- */
.container-inc {
	width: 100%;
	max-width:none!important;
	background-color: #6E85B7;
	padding-top: 20px;
	padding-bottom: 20px;
}
#contatner_inc_header {
	width: 1200px;
	margin: 0 auto;
	color: white;
}
#contatner_inc_header > .col-1 {
	text-align: center;
}
#logo {
	font-size: 45px;
	font-weight: bolder;
}
/* ------------- */
/* --- footer --- */
footer {
	width: 100%;
	height: 200px;
	clear: both;
}
#contatner_inc_footer {
	width: 100%;
	height: 100%;
	background-color: #BBBCBF;
}
/* -------------- */

/* ========================================================================== */



/* ========================================================================== */

/* --- container --- */
.container{
	width:100%;
	padding: 0px; 
	max-width:none!important;
	height: auto;
	min-height: 100%;
	margin: 0 auto -200px;
	font-family: 'Noto Sans KR', sans-serif;
}
/* ----------------- */

/* --- container_1200_area --- */
.container_1200_area {
	width: 1200px;
	margin: 25px auto;
	max-width:none!important;
}
/* --------------------------- */

/* ========================================================================== */

/* --- paging --- */
.paging {
	text-align: center;
}
.paging button {
	border: none;
	background-color: white;
}
.page_num {
	font-size: 20px;
	
}
.page_icon {
	font-size: 15px;
}
/* -------------- */

/* ========================================================================== */

.push {
	width: 100%;
	height: 100px;
	float: left;
}
#select_study_search_create {
	width: 100%;
	height: 400px;
	text-align: center;
	background-color: #C4D7E0;
	padding-top: 181px;
}
#select_btn {
	width: 1200px;
	margin: 0 auto;
	height: 100%;
}
.study_list_area_subject {
	font-size: 35px;
	text-align: center;
}
#best_readcount {
	display: flex;
	
}
#recommend_study {
	display: flex;
}
.btn-0 {
	margin: 0 8px;
	width: 150px;
	padding: 10px;
	background-color: #6E85B7;
	border: 1px solid #6E85B7;
	color: white;
	border-radius: 10px;
	box-shadow: 0px 0px 15px gray;
}
.btn-0:hover {
	background-color: #C4D7E0;
	border: 1px solid #6E85B7;
	color: #6E85B7;
	font-weight: bolder;
}
/* --- study_card --- */
.study_card {
	width: 200px;
	height: inherit;
	margin: 20px;
	padding: 10px;
	border-radius: 10px;
/* 	color: white; */
	background-color: #C2CEE7;
	box-shadow: 2px 2px 10px #4E68A0;
}
.study_card_subject {
	text-align: center;
	font-size: large;
	font-weight: bolder;
}
.study_card_status {
	float: right;
}
.study_card_condition {
	clear: both;
	text-align: center;
}
.study_card1 {
	padding: 5px;
	margin: 2px;
	background-color: #4E68A0;
	border-radius: 10px;
	line-height: 2.5;
	color: white;
}
.study_card2 {
	padding: 5px;
	margin: 2px;
	background-color: #36528D;
	border-radius: 10px;
	line-height: 2.5;
	color: white;
}
.study_card_status {
	padding: 5px;
	margin: 2px;
	background-color: red;
	border-radius: 10px;
/* 	line-height: 2.5; */
	color: white;
}
/* ------------------ */

/* ========================================================================== */

/* --- study_search --- */
#select_study_condition {
	width: 100%;
	text-align: center;
	padding: 30px;
	background-color: #C4D7E0;
}
#select_study_condition form {
	width: 1200px;
	margin: 0 auto;
}
#search_result_area {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.input_box {
	width: 200px;
	height: 50px;
	margin: 15px;
	padding: 3px;
	border: 2px solid #36528D;
	border-radius: 10px;
/* 	box-shadow: 0 0 5px #4E68A0; */
}
#submit_study_condition {
	width: 1200px;
	margin: 10px auto;
	height: 20px;
}
#submit_study_condition span {
	float: right;
}
.search_submit_icon, .search_reset_icon {
	font-size: 35px;
}

/* --- study_type_area --- */
#study_type {
	display: flex;
	height: 50px;
	width: 500px;
	margin: 0 auto;
}
#study_type input[type="radio"] {
	visibility: hidden;
	height: 0;
	width: 0;
}
#study_type label {
	display: flex;
	flex: auto;
	vertical-align: middle;
	align-items: center;
	justify-content: center;
	text-align: center;
	cursor: pointer;
	background-color: #C2CEE7;
	color: white;
	padding: 5px 10px;
	border-radius: 6px;
	transition: color --transition-fast ease-out, 
	            background-color --transition-fast ease-in;
	user-select: none;
	margin-right: 13px;
	box-shadow: 0px 0px 10px #4E68A0;
}
#study_type label:last-of-type {
 	margin-right: 0;
}
#study_type input[type="radio"]:checked + label {
  	background-color: #4E68A0;
}

#study_type input[type="radio"]:hover:not(:checked) + label {
	background-color: #4E68A0;
}

/* ----------------------- */

/* --- study_time_area --- */
#study_time {
	display: flex;
	height: 50px;
	width: 150px;
	margin: 10px auto;
}
#study_time input[type="radio"] {
	visibility: hidden;
	height: 0;
	width: 0;
}
#study_time label {
	display: flex;
	flex: auto;
	vertical-align: middle;
	align-items: center;
	justify-content: center;
	text-align: center;
	cursor: pointer;
	background-color: #C2CEE7;
	color: white;
	padding: 5px 10px;
	border-radius: 6px;
	transition: color --transition-fast ease-out, 
	            background-color --transition-fast ease-in;
	user-select: none;
	margin-right: 13px;
	box-shadow: 0px 0px 10px #4E68A0;
}
#study_time label:last-of-type {
 	margin-right: 0;
}
#study_time input[type="radio"]:checked + label {
  	background-color: #4E68A0;
}

#study_time input[type="radio"]:hover:not(:checked) + label {
	background-color: #4E68A0;
}

/* ----------------------- */

/* --- study_contact_type --- */
#study_contact_type {
	display: flex;
	height: 50px;
	width: 150px;
	margin: 10px auto;
}
#study_contact_type input[type="radio"] {
	visibility: hidden;
	height: 0;
	width: 0;
}
#study_contact_type label {
	display: flex;
	flex: auto;
	vertical-align: middle;
	align-items: center;
	justify-content: center;
	text-align: center;
	cursor: pointer;
	background-color: #C2CEE7;
	color: white;
	padding: 5px 10px;
	border-radius: 6px;
	transition: color --transition-fast ease-out, 
	            background-color --transition-fast ease-in;
	user-select: none;
	margin-right: 13px;
	box-shadow: 0px 0px 10px #4E68A0;
}
#study_contact_type label:last-of-type {
 	margin-right: 0;
}
#study_contact_type input[type="radio"]:checked + label {
  	background-color: #4E68A0;
}

#study_contact_type input[type="radio"]:hover:not(:checked) + label {
	background-color: #4E68A0;
}

/* ----------------------- */

/* --- filter&keyword --- */
.search_keyword_filter {
	width: 1200px;
	height: 40px;
}
#filter1 {
	vertical-align: middle;
	width: 150px;
	height: 100%;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	margin-right: -5px;
}
#filter2 {
	vertical-align: middle;
	width: 150px;
	height: 100%;
	margin-right: -5px;
}
#commu_filter1 {
	vertical-align: middle;
	width: 150px;
	height: 100%;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	margin-right: -7px;
}
#commu_filter2 {
	vertical-align: middle;
	width: 150px;
	height: 100%;
	margin-right: -6px;
}
.study_search_filter input[type="text"] {
	vertical-align: middle;
	width: 350px;
	height: 100%;
	margin-right: -1px;
	border: 1px solid;
	border-radius: 0px;
	margin-right: -4px;
}
.study_search_filter .search_submit_icon {
	vertical-align: middle;
	width: 40px;
	height: 100%;
	border: 1px solid black;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
.commu_search_filter input[type="text"] {
	vertical-align: middle;
	width: 350px;
	height: 100%;
	margin-right: -7px;
	border: 1px solid;
	border-radius: 0px;
}
.commu_search_filter .search_submit_icon {
	vertical-align: middle;
	width: 40px;
	height: 100%;
	border: 1px solid black;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
/* ------- article_list ------- */
#commu_create {
	float: right;
	width: 80px;
	height: 100%;
}
#commu_create input[type='button'] {
	width: 100%;
	height: 100%;
	border: 0px;
	border-radius: 10px;
	background-color: #4E68A0;
	color: white;
	box-shadow: 0px 0px 10px black;
}

#commu_list {
	margin-top: 20px;
	margin-bottom: 20px;
	width: 100%;
}
#commu_list_table {
	width: 100%;
}
#commu_list_table tr th, td {
	padding-top: 10px;
	padding-bottom: 10px;
}
#commu_list_table tr:first-child {
	text-align: center;
	border-top: 1px solid #758CBD;
	border-bottom: 1px solid #758CBD;
	color: #4E68A0;
	background-color: #CDD8EE;
}
#commu_list_table tr:not(:last-of-type) {
	border-bottom: 1px dotted gray;
}
#commu_list_table tr:last-of-type {
	border-bottom: 1px solid gray;
}
#commu_list_table .td_center {
	text-align: center;
}
#commu_list_table tr:hover {
	background-color: lightgray;
}
/* ---------------------------- */

/* ------ article_view -------- */
#article_detail_area {
	width: 80%;
	margin: 3px auto;
}
#commu_top {
	width: 100%;
	display: flex;
	margin-bottom: 20px;
}
#article_detail_area .subject {
	font-size: 40px;
	font-weight: bolder;
}
#commu_top .writer {
	width: 80%;
}
#commu_top .write_date {
	width: 10%;
}
#commu_top .readcount, .likecount {
	width: 5%;
}
#commu_content {
	border: 1px solid lightgray;
	border-radius: 10px;
	padding: 10px;
	margin-bottom: 20px;
}
#mngBtn_article {
	height: 50px;
	float: right;
}
#mngBtn_article input[type='button']:first-of-type {
	border: 0px;
	border-radius: 5px;
	width:55px;
	height: 35px;
	background-color: #758CBD;
	color: white;
}
#mngBtn_article input[type='button']:last-of-type {
	border: 0px;
	border-radius: 5px;
	width:55px;
	height: 35px;
	background-color: black;
	color: white;
}
#comment_area {
	clear: both;
	width: 100%;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}
#comment_area h3 {
	padding: 10px;
	font-weight: bold;
}
.insert_comment {
	padding-bottom: 10px;
	height: 100px;
	display: flex;
}
.insert_comment textarea {
	width: 85%;
	height: 100%;
	margin-right: -1px;
	border: 1px solid #758CBD;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
.insert_comment input[type='button'] {
	width: 15%;
	height: 100%;
	border: 1px solid #758CBD;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	background-color: #758CBD;
	color: white;
}
.comment_list {
	padding: 10px;
	display: flex;
}
.comment_list .comment_left {
	width: 10%;
	padding: 5px;
	border-bottom: 1px solid lightgray;	
}
.comment_list .comment_right {
	width: 90%;
	padding: 5px;
	border-bottom: 1px solid lightgray;
}
.comment_list .comment_right .comment_writer {
	font-size: 18px;
	font-weight: bold;
}
.comment_list .comment_right .comment_date {
	font-size: 15px;
	color: gray;
}

/* ---------------------------- */
/* ========================================================================== */